*{
  margin:0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 768px) {

/*
  body {
      background-color: #743333;

      

  }

  */
  #sec1>article{

    /* width: 33%; */
    
    display:block;
    text-align:center;
    display: center;
    }

    

#sec2>article{

      /* width: 33%; */
      /* display:inline-block; */
      display:block;
      text-align:center;
      display: center;
      }
    
#sec3>article{
    
        /* width: 33%; */
        /* display:inline-block; */
        text-align:center;
        display:block;
        display: center;
        }
       
#sec4>article{
    
          /* width: 33%; */
          /* display:inline-block; */
          text-align:center;
          display:block;
          display: center;
          }

#sec5>article{
  text-align:center;
  display:block;
  display: center;
            }         

#sec7>article{
  text-align:center;
  display:block;
  display: center;
            } 
footer{
  text-align:center;
  display:block;
  display: center;
            } 

}
            

  
    
ul>li{
  list-style-type: none;
  display: block;
}

/*===========================*/

@media only screen and (min-width: 769px) {
  body {

    color: rgb(37, 150, 190);

  }

  
#sec1>article{

  width: 33%;
  display:inline-block;
  text-align:center;
  }

  #sec2>article{

    width: 33%;
    display:inline-block;
    text-align:center;
    }
  
    #sec3>article{
  
      width: 33%;
      display:inline-block;
      text-align:center;
      }
    
  
ul>li{
  list-style-type: none;
  display: inline-block;
}
}
/*============================*/ 
header>nav{
  display: inline-block;
}

#imagemfundo{
  
  background-image: url(../img/fundo.jpg);
  padding: 300px ;
   /* color: rgb(37, 150, 190); */
  
}
#botao1{
  color: rgb(37, 150, 190);
}

/*
ul>li{
  list-style-type: none;
  display: inline-block;
}

*/

/*
#sec1>article{

width: 33%;
display:inline-block;
text-align:center;
}
*/
/*
#sec2>article{

  width: 33%;
  display:inline-block;
  text-align:center;
  }

  #sec3>article{

    width: 33%;
    display:inline-block;
    text-align:center;
    }
  
*/

body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("../img/photo.jpg");
  
    /* Full height */
    
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p{

    text-align: center;
  }

  

